# Variables de entorno
.env

# Entorno virtual de Python
.venv/
backend/.venv/

# Dependencias de Node
node_modules/
frontend/node_modules/

# VS Code
.vscode/

# Python
__pycache__/
*.pyc

# Pytest
.pytest_cache/
